// @import 'main';

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  background: #562fc7;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  z-index: 5000;
}


a {
  text-decoration: none;
  color: $preto;
}

ul {
  list-style: none;
}





.container-nav {
  @include container;


  @include device(tablet) {
    width: 90%;
  }

  @include device(mobile) {
    width: 80%;
    margin: auto;
  }



  .nav-bar {


    @include device(desktop) {
      .hamburger {
        display: none;
      }
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @include device(tablet) {
    .hamburger ul {
      display: none;
    }

    .hamburger-click ul {
      padding: 0;
      display: block;
      position: absolute;
      width: 600px;
      height: 300px;
      margin-top: 2rem;
      background: #562fc7;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
      border: 1px solid $laranja;
      border-radius: 5px;

      li:hover {
        background: #562fc7;
      }
    }
  }

  @include device(mobile) {
    .hamburger ul {
      display: none;
    }

    .hamburger-click ul {
      padding: 0;
      display: block;
      position: absolute;
      width: 300px;
      height: 300px;
      margin-top: 2rem;
      background: #562fc7;
      box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
      border: 1px solid $laranja;
      border-radius: 5px;

      li:hover {
        background: #562fc7;
      }
    }
  }

  .logoresp {

    @include device(mobile) {
      display: inherit;
      width: 100px;
      height: 25px;
    }

    @include device(tablet) {
      display: inherit;
      width: 60px;
      height: 25px;
    }

    @include device(desktop) {
      display: none;
    }


  }


  .logo {
    @include device(tablet) {
      display: none;
    }

    @include device(mobile) {
      display: none;
    }

  }

  .nav-menu {
    @include device(tablet) {
      display: none;
    }

    @include device(mobile) {
      display: none;
    }

    margin-right: 5%;
    color: #ffffff;


  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;

    li {
      padding: 1rem;
      color: #ffffff;

      ul {
        display: none;

      }

    }

    .dropdown:hover ul {
      padding: 0;
      display: block;
      position: absolute;
      left: 1;
      width: 200px;
      margin-top: 1rem;
      background: transparent;
      border: 1px solid $laranja;
      border-radius: 5px;

      span {
        color: #fff;
        background: $laranja;
        padding: 0.2rem 0.4rem;
        text-align: center;
        font-size: 0.6rem;
        border-radius: 5px;
        margin-left: 10px;
      }
    }
  }

  a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;


    &:hover {
      color: $laranja;
    }
  }

  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

#btn-inscrever {
  @include device(mobile) {
    display: none;
  }

  margin: auto 0;
  text-decoration: none;
  color: #000000;
  padding: 1rem;
  align-self: flex-end;
  border: 1px solid $laranja;
  border-radius: 50px;
  background: transparent;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: 400;

  &:hover {
    background: $laranja;
    color: #000;
  }
}

.titulo {
  text-align: center;
  margin-top: 100px;
  color: #ffffff;

  h1 {
    font-size: 48px;
    margin-bottom: 0;
  }

  p {
    font-size: 16px;
    margin-bottom: 150px;
  }
}


.contato-container {
  @include device(mobile) {
    width: 75%;

  }

  @include device(tablet) {
    width: 87%;
  }

  @include container;

  .contato-conteudo {
    @include device(mobile) {
      display: block;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;

    }

    @include device(tablet) {
      display: block;

    }

    display: flex;
    margin: 150px 0 50px 0;

    form {
      @include device(mobile) {
        padding: 30px 30px 0 0;
      }

      @include device(tablet) {
        padding: 30px 30px 0 0;
      }

      padding: 30px 100px 0 0;
      display: block;

      textarea {
        @include device(mobile) {
          width: 100%;
        }

        @include device(tablet) {
          width: 100%;
        }

        display: block;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $cinza;
      }

      #nome,
      #email {
        @include device(mobile) {
          width: 98%;
        }

        @include device(tablet) {
          width: 98%;
        }

        display: inline-block;
        width: 300px;
        margin: 15px 5px;
      }

      input {
        @include device(mobile) {
          width: 99%;
        }

        @include device(tablet) {
          width: 99%;
        }

        display: block;
        padding: 10px;
        border: 1px solid $cinza;
        border-radius: 5px;
        width: 640px;
      }

      #contato-btn {
        cursor: pointer;
        margin-top: 25px;
        width: 150px;
        height: 60px;
        border-radius: 0px;
        border: 1px solid $laranja;
        background: transparent;

        &:hover {
          border-color: #3b13b0;
        }
      }
    }

    .contato-info {
      @include device(mobile) {}

      @include device(tablet) {
        margin-top: 30px
      }

      .contato-info-box {


        display: flex;
        align-items: center;

        div {
          padding: 20px 5px;
        }

        i {
          padding-right: 10px;

        }

        h3,
        p {
          margin: 0;
        }
      }
    }
  }

}